<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.INTERNET"
        tools:ignore="ManifestOrder" />

    <dist:module dist:instant="true" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <activity
            android:name=".Controller.InicioActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Controller.SignUpActivity"
            android:exported="false" />

        <activity
            android:name=".Controller.InfoBookActivity"
            android:exported="false" />

        <activity android:name=".Controller.BuscadorActivity"
            android:windowSoftInputMode="adjustPan"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".Controller.HomeActivity"
            android:exported="false" />

        <activity
            android:name=".Controller.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.EventosActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.NewEventActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.NewThemeActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.FavoritosActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.Forum"
            android:exported="false" />

        <activity
            android:name=".Controller.ReunionActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>